<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body style="background-color: #D3D3D3;">
  <div style="text-align: center">
    <h1 style="color: #00008B; font-size: 50px;">The Cloud Guru</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p style="font-size: 30px;padding-top: 70px;">Click the button below to select an image. Then click on submit.</p>
      <p style="margin: 50px 0 0 25px !important;"><input type="file" name="myfile" multiple></p>
      <p><input style="background-color: #FFFFFF; width: 85px; margin-top: 50px;height: 45px;" type="submit" value="SUBMIT"></p>
    </form>
  </div>
  </body>
</html>